In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
trips = pd.read_csv("./Daten/yellow_tripdata_2020-01.csv", usecols = ['tpep_pickup_datetime',
                                                                      'tpep_dropoff_datetime',
                                                                      'passenger_count',
                                                                      'trip_distance',
                                                                      'PULocationID',
                                                                      'DOLocationID',
                                                                      'RatecodeID',
                                                                      'fare_amount',
                                                                      'total_amount'
                                                                     ])

In [4]:
trips.head(5)

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,fare_amount,total_amount
0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,238,239,6.0,11.27
1,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,239,238,7.0,12.30
2,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,238,238,6.0,10.80
3,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,238,151,5.5,8.16
4,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,193,193,3.5,4.80

In [5]:
greentrip = np.array([
    [2020-1-1,2020-1-1 ,5,'DUMBO/Vinegar Hill','Downtown Brooklyn/MetroTech',2,1.28,20],
    [2020-1-1 ,2020-1-1 ,1,'Park Slope','Sunset Park West',1,2.47,10.5],
    [2020-1-1 ,2020-1-1,1,'Jackson Heights','Yorkville West',2,6.30,21],
    [2020-1-1 ,2020-1-1 ,1,'Sheepshead Bay','Manhattan Beach',1,2.30,10],
    [2020-1-1 ,2020-1-1 ,1,'Brownsville','Canarsie',3,3.00,13.5],
    [2020-1-1 ,2020-1-1 ,1,'Brownsville','Crown Heights North',2,2.77,11],
    [2020-1-1 ,2020-1-1 ,1,'Stuyvesant Heights','Flatbush/Ditmas Park',1,4.98,20.5],
    [2020-1-1 ,2020-1-1 ,1,'Jackson Heights','Jackson Heights',1,.71,5.5],
    [2020-1-1 ,2020-1-1 ,1,'Jackson Heights','Elmhurst/Maspeth',2,.80,5.5],
    [2020-1-1 ,2020-1-1 ,1,'Elmhurst','North Corona',1,1.52,9.5],
    [2020-1-1 ,2020-1-1 ,1,'East Harlem North','East Concourse/Concourse Village',1,3.80,14],
    [2020-1-1 ,2020-1-1 ,1,'East Harlem North','Astoria',1,1.12,6.5],
    [2020-1-1 ,2020-1-1 ,1,'Central Harlem','Inwood',2,5.67,19],
    [2020-1-1 ,2020-1-1 ,1,'Astoria','Woodside',1,1.86,9.5],
    [2020-1-1 ,2020-1-1 ,1,'Astoria','Astoria',3,1.42,7],
    [2020-1-1 ,2020-1-1 ,1,'Astoria','Kensington',1,15.48,43]
    
])

In [6]:
greentrip.size

128

In [7]:
dates = greentrip[:,0:2]
ratecode = greentrip[:,2].astype(np.int16)
trip_from = greentrip[:,3]
trip_to = greentrip[:,4]
passengers = greentrip[:,5].astype(np.int16)
distance = greentrip[:,6].astype(np.float64)
cost = greentrip[:,7].astype(np.float64)

In [8]:
costpermile = cost.mean() / distance.mean()
print("Der durchschnittliche Preis/Meile beträgt: ")
print(costpermile)

Der durchschnittliche Preis/Meile beträgt:
4.073540014419611

In [9]:
max_distance = np.argmax(distance)
trip_to[max_distance]
trip_from [max_distance]
print("Die längste Strecke wurde von "+trip_from[max_distance]+" nach "+trip_to[max_distance]+"zurückgelegt und betrug: ")
print(distance[max_distance])

Die längste Strecke wurde von Astoria nach Kensingtonzurückgelegt und betrug:
15.48

In [10]:
filter_gtOne = passengers > 1
cost_gtOne = cost[filter_gtOne]
distance_gtOne = distance[filter_gtOne]
costpermile_gtOne = cost_gtOne.mean() / distance_gtOne.mean()
print("Der durchschnittliche Preis/Meile beträgt: ")
print(costpermile_gtOne)

Der durchschnittliche Preis/Meile beträgt:
4.566854990583804

In [11]:
## PANDAS

In [12]:
trips.head(20)

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,fare_amount,total_amount
0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,238,239,6.00,11.27
1,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,239,238,7.00,12.30
2,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,238,238,6.00,10.80
3,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,238,151,5.50,8.16
4,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,193,193,3.50,4.80
5,2020-01-01 00:09:44,2020-01-01 00:10:37,1.0,0.03,1.0,7,193,2.50,3.80
6,2020-01-01 00:39:25,2020-01-01 00:39:29,1.0,0.00,1.0,193,193,2.50,3.81
7,2019-12-18 15:27:49,2019-12-18 15:28:59,1.0,0.00,5.0,193,193,0.01,2.81
8,2019-12-18 15:30:35,2019-12-18 15:31:35,4.0,0.00,1.0,193,193,2.50,6.30
9,2020-01-01 00:29:01,2020-01-01 00:40:28,2.0,0.70,1.0,246,48,8.00,14.15
10,2020-01-01 00:55:11,2020-01-01 01:12:03,2.0,2.40,1.0,246,79,12.00,17.55
11,2020-01-01 00:37:15,2020-01-01 00:51:41,1.0,0.80,1.0,163,161,9.50,13.30
12,2020-01-01 00:56:27,2020-01-01 01:21:44,1.0,3.30,1.0,161,144,17.00,24.95
13,2020-01-01 00:21:54,2020-01-01 00:27:31,1.0,1.07,1.0,43,239,6.00,11.76
14,2020-01-01 00:38:01,2020-01-01 01:15:21,1.0,7.76,1.0,143,25,28.50,37.14
15,2020-01-01 00:15:35,2020-01-01 00:27:06,3.0,1.60,1.0,211,234,9.00,12.80
16,2020-01-01 00:41:20,2020-01-01 00:44:22,1.0,0.50,1.0,234,90,4.00,8.80
17,2020-01-01 00:56:38,2020-01-01 01:13:34,1.0,1.70,1.0,246,142,11.50,15.30
18,2020-01-01 00:08:21,2020-01-01 00:25:29,1.0,8.45,1.0,138,216,24.50,25.80
19,2020-01-01 00:25:39,2020-01-01 00:27:05,1.0,0.00,1.0,170,162,3.00,6.80

In [13]:
pos = trips.columns.get_loc('total_amount') + 1
costpermile = trips['total_amount'] / trips['trip_distance']
trips.insert(pos,'cost_per_mile', costpermile)

In [14]:
trips.head(15)

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,fare_amount,total_amount,cost_per_mile
0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,238,239,6.00,11.27,9.391667
1,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,239,238,7.00,12.30,10.250000
2,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,238,238,6.00,10.80,18.000000
3,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,238,151,5.50,8.16,10.200000
4,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,193,193,3.50,4.80,inf
5,2020-01-01 00:09:44,2020-01-01 00:10:37,1.0,0.03,1.0,7,193,2.50,3.80,126.666667
6,2020-01-01 00:39:25,2020-01-01 00:39:29,1.0,0.00,1.0,193,193,2.50,3.81,inf
7,2019-12-18 15:27:49,2019-12-18 15:28:59,1.0,0.00,5.0,193,193,0.01,2.81,inf
8,2019-12-18 15:30:35,2019-12-18 15:31:35,4.0,0.00,1.0,193,193,2.50,6.30,inf
9,2020-01-01 00:29:01,2020-01-01 00:40:28,2.0,0.70,1.0,246,48,8.00,14.15,20.214286
10,2020-01-01 00:55:11,2020-01-01 01:12:03,2.0,2.40,1.0,246,79,12.00,17.55,7.312500
11,2020-01-01 00:37:15,2020-01-01 00:51:41,1.0,0.80,1.0,163,161,9.50,13.30,16.625000
12,2020-01-01 00:56:27,2020-01-01 01:21:44,1.0,3.30,1.0,161,144,17.00,24.95,7.560606
13,2020-01-01 00:21:54,2020-01-01 00:27:31,1.0,1.07,1.0,43,239,6.00,11.76,10.990654
14,2020-01-01 00:38:01,2020-01-01 01:15:21,1.0,7.76,1.0,143,25,28.50,37.14,4.786082

In [15]:
date_time = trips['tpep_pickup_datetime'].str.split(' ', expand = True)
trips = pd.concat([trips, date_time], axis=1,  names=['pickup_date','pickup_time'])
trips.head(15)

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,fare_amount,total_amount,cost_per_mile,0,1
0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,238,239,6.00,11.27,9.391667,2020-01-01,00:28:15
1,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,239,238,7.00,12.30,10.250000,2020-01-01,00:35:39
2,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,238,238,6.00,10.80,18.000000,2020-01-01,00:47:41
3,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,238,151,5.50,8.16,10.200000,2020-01-01,00:55:23
4,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,193,193,3.50,4.80,inf,2020-01-01,00:01:58
5,2020-01-01 00:09:44,2020-01-01 00:10:37,1.0,0.03,1.0,7,193,2.50,3.80,126.666667,2020-01-01,00:09:44
6,2020-01-01 00:39:25,2020-01-01 00:39:29,1.0,0.00,1.0,193,193,2.50,3.81,inf,2020-01-01,00:39:25
7,2019-12-18 15:27:49,2019-12-18 15:28:59,1.0,0.00,5.0,193,193,0.01,2.81,inf,2019-12-18,15:27:49
8,2019-12-18 15:30:35,2019-12-18 15:31:35,4.0,0.00,1.0,193,193,2.50,6.30,inf,2019-12-18,15:30:35
9,2020-01-01 00:29:01,2020-01-01 00:40:28,2.0,0.70,1.0,246,48,8.00,14.15,20.214286,2020-01-01,00:29:01
10,2020-01-01 00:55:11,2020-01-01 01:12:03,2.0,2.40,1.0,246,79,12.00,17.55,7.312500,2020-01-01,00:55:11
11,2020-01-01 00:37:15,2020-01-01 00:51:41,1.0,0.80,1.0,163,161,9.50,13.30,16.625000,2020-01-01,00:37:15
12,2020-01-01 00:56:27,2020-01-01 01:21:44,1.0,3.30,1.0,161,144,17.00,24.95,7.560606,2020-01-01,00:56:27
13,2020-01-01 00:21:54,2020-01-01 00:27:31,1.0,1.07,1.0,43,239,6.00,11.76,10.990654,2020-01-01,00:21:54
14,2020-01-01 00:38:01,2020-01-01 01:15:21,1.0,7.76,1.0,143,25,28.50,37.14,4.786082,2020-01-01,00:38:01

In [16]:
trips = trips.rename(columns={0 : 'pickup_date', 1:'pickup_time'})

In [17]:
trips.head(5)

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,fare_amount,total_amount,cost_per_mile,pickup_date,pickup_time
0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,238,239,6.0,11.27,9.391667,2020-01-01,00:28:15
1,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,239,238,7.0,12.30,10.250000,2020-01-01,00:35:39
2,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,238,238,6.0,10.80,18.000000,2020-01-01,00:47:41
3,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,238,151,5.5,8.16,10.200000,2020-01-01,00:55:23
4,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,193,193,3.5,4.80,inf,2020-01-01,00:01:58

In [18]:
trips.drop(columns=['tpep_pickup_datetime'])

,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,fare_amount,total_amount,cost_per_mile,pickup_date,pickup_time
0,2020-01-01 00:33:03,1.0,1.20,1.0,238,239,6.00,11.27,9.391667,2020-01-01,00:28:15
1,2020-01-01 00:43:04,1.0,1.20,1.0,239,238,7.00,12.30,10.250000,2020-01-01,00:35:39
2,2020-01-01 00:53:52,1.0,0.60,1.0,238,238,6.00,10.80,18.000000,2020-01-01,00:47:41
3,2020-01-01 01:00:14,1.0,0.80,1.0,238,151,5.50,8.16,10.200000,2020-01-01,00:55:23
4,2020-01-01 00:04:16,1.0,0.00,1.0,193,193,3.50,4.80,inf,2020-01-01,00:01:58
...,...,...,...,...,...,...,...,...,...,...,...
6405003,2020-01-31 23:22:00,NaN,3.24,NaN,237,234,17.59,21.14,6.524691,2020-01-31,22:51:00
6405004,2020-01-31 23:26:00,NaN,22.13,NaN,259,45,46.67,62.46,2.822413,2020-01-31,22:10:00
6405005,2020-01-31 23:17:57,NaN,10.51,NaN,137,169,48.85,51.90,4.938154,2020-01-31,22:50:07
6405006,2020-01-31 22:48:32,NaN,5.49,NaN,50,42,27.17,30.22,5.504554,2020-01-31,22:25:53
6405007,2020-01-31 23:06:00,NaN,11.60,NaN,179,205,54.56,58.11,5.009483,2020-01-31,22:44:00

In [19]:
col_names=[
            'pickup_date',
            'pickup_time',
            'tpep_dropoff_datetime',
            'passenger_count',
            'trip_distance',
            'PULocationID',
            'DOLocationID',
            'RatecodeID',
            'fare_amount',
            'total_amount',
            'cost_per_mile'
         ]
trips = trips.reindex(columns=col_names)

In [20]:
trips.head(5)

,pickup_date,pickup_time,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,fare_amount,total_amount,cost_per_mile
0,2020-01-01,00:28:15,2020-01-01 00:33:03,1.0,1.2,238,239,1.0,6.0,11.27,9.391667
1,2020-01-01,00:35:39,2020-01-01 00:43:04,1.0,1.2,239,238,1.0,7.0,12.30,10.250000
2,2020-01-01,00:47:41,2020-01-01 00:53:52,1.0,0.6,238,238,1.0,6.0,10.80,18.000000
3,2020-01-01,00:55:23,2020-01-01 01:00:14,1.0,0.8,238,151,1.0,5.5,8.16,10.200000
4,2020-01-01,00:01:58,2020-01-01 00:04:16,1.0,0.0,193,193,1.0,3.5,4.80,inf